<div id="<%= dom_id aluno %>" class="aluno-add-chip">
  <span><%= aluno.nome %></span>
  <%= button_to "＋",
    aula_presencas_path(aula, aluno_id: aluno.id),
    method: :post,
    class: "btn btn-primary btn-sm" %>
</div>
