<div class="page">
  <div class="page-header">
    <div>
      <%= link_to "← Alunos", alunos_path, class: "back-link" %>
      <h1>Novo Aluno</h1>
    </div>
  </div>

  <div class="form-dark">
    <h2 class="form-title">Dados do aluno</h2>
    <%= render "form", aluno: @aluno %>
  </div>
</div>
