<div class="page">
  <div class="page-header">
    <%= link_to "← Professores", professores_path, class: "back-link" %>
    <h1>Novo professor</h1>
  </div>

  <%= render "form", professor: @professor %>
</div>
