<div class="page">
  <div class="page-header">
    <div>
      <%= link_to "← Modalidades", modalidades_path, class: "back-link" %>
      <h1>Nova Modalidade</h1>
    </div>
  </div>

  <div class="form-dark">
    <h2 class="form-title">Dados da modalidade</h2>
    <%= render "form", modalidade: @modalidade %>
  </div>
</div>
